<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5927054034-upn8j9kh625p8bi6l0dfhesiig3onird.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5927054034-upn8j9kh625p8bi6l0dfhesiig3onird</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5927054034-9k5fpblmkfv2ciphq775ot7ea88tvdko.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBN7fz_HK7v5-hBa0UJaJ_I7uo4T1rz4oY</string>
	<key>GCM_SENDER_ID</key>
	<string>5927054034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidarturolr.ecostyle</string>
	<key>PROJECT_ID</key>
	<string>kotlin-firebase-503a6</string>
	<key>STORAGE_BUCKET</key>
	<string>kotlin-firebase-503a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5927054034:ios:6e26082065695802195b0b</string>
	<key>DATABASE_URL</key>
	<string>https://kotlin-firebase-503a6-default-rtdb.firebaseio.com</string>
</dict>
</plist>